@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background-image: url('/images/bg-pattern-top-desktop.svg'),
                url('/images/bg-pattern-bottom-desktop.svg');
    background-color: hsl(0, 0%, 100%);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: left top, right bottom;
    background-size: 690px, 950px;
}

#grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: minmax(300px, auto);
    grid-template-rows: minmax(300px, auto);
    grid-gap: 20px;
    margin: 50px;
}

#grid > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#grid > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#grid > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.info{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.info > h1{
    color: hsl(300, 43%, 22%);
    margin-bottom: 6px;
}

.info > h1 > span:before{
    content: '\A';
    white-space: pre;
}

.info > p > span:before {content: '\A'; white-space: pre;}

.stars{
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.stars > div{
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 700px;
    height: 50px;
    
}

.reviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    margin-left: 350px;
}

.reviews > div{
    background-color: hsl(300, 43%, 22%);
    margin: 30px;
    padding:10px;
    width: 300px;
}

/* Media Queries */

@media screen and (max-width:1440px){
    body {
        background-size: 460px, 900px;
    }

    #grid{
        
        -ms-grid-columns: 550px 20px 550px;
        
        grid-template-columns: repeat(2, 550px);
        -ms-grid-rows: minmax(200px, 200px);
        grid-template-rows: minmax(200px, 200px);
        
    }

    #grid > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        
    }

    #grid > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        
    }
    
    .info{
        
        -ms-grid-column-align: center;
        
            justify-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 20px;
        margin-left: 120px;
        
    }

    .info > h1{
        font-size: 45px;
        font-weight: 600;
    }

    .info > p{
        color: hsl(303, 10%, 53%);
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
    }

    .info > p > span:before {content: '\A'; white-space: pre;}

    .stars > div{
        font-weight: 800;
        color: hsl(300, 43%, 22%);
        font-size: 12px;
        text-align: center;
        padding: 25px;
        width: 350px;
        height: 60px;
        margin-top: 30px;
        margin-bottom: -15px;
        
    }
    
    .stars > .star-1{
        background-image: url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg");
        
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 10px, 30px, 50px, 70px, 90px;
        margin-left: 300px;
        
        
    }

    .stars > .star-2{
        background-image: url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg");
        
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 10px, 30px, 50px, 70px, 90px;
        margin-left: 340px;
    }

    .stars > .star-3{
        background-image: url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg"),
                        url("/images/icon-star.svg");
        
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 10px, 30px, 50px, 70px, 90px;
        margin-left: 380px;
    }

    .stars > .star-1 > p{
        margin-left: 45px;
    }

    .stars > .star-2 > p{
        margin-left: 70px;
    }

    .stars > .star-3 > p{
        margin-left: 50px;
    }

    .reviews{
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-grid-column-align: center;
            justify-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 800px;
        width: 1400px;
    }
    
    .reviews img{
        border-radius: 100%;
        width: 50px;
        float: left;
        margin-top: 35px;
        margin-right: 23px;
        position: relative;
    }

    .reviews > .review-1{
        border-radius: 10px;
        padding-left: 30px;
        margin-top: -10px;
        width: 350px;
        margin-bottom: 50px;
        
    }

    .reviews > .review-2{
        border-radius: 10px;
        width: 350px;
        margin-top: -1px;
        margin-bottom: 40px;
        padding-left: 30px;
        margin-left: -8px;
    }

    .reviews > .review-3{
        border-radius: 10px;
        width: 350px;
        margin-top: 10px;
        margin-left: -7px;
        padding-left: 30px;
    }
    .reviews h4{
        margin-top: 45px;
        color: white;
    }
    .verified {
        color: hsl(333,80%,67%);
        margin-bottom: 35px;
        margin-top: 8px;
    }
    
    .testimony{
        color: white;
        text-align: left;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        word-spacing: 1px;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-left: 11px;

    }
    
    .attribution{margin-left: 20px; margin-top: -93px;font-size: 12px; bottom: 0;}
}

@media screen and (max-width:375px){
    body {
        background-size: 325px, 300px;
    }
}