@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background: hsl(185, 75%, 39%);
}

#bg-pattern-top .pattern-top{
    width: 730px;
    height: 750px;
    position: fixed;
    top: -350px;
    left: -100px;
}

#bg-pattern-bottom .pattern-bottom{
    width: 800px;
    height: 700px;
    position: fixed;
    right: -150px;
    bottom: -350px;
}

.box-picture{
    background-color: white;
    
    width: 340px;
    margin-left: 523px;
    text-align: center;
    margin-top: -50px;
}

.picture{
    background-color: white;
    border-radius: 100%;
    margin-bottom: 20px;
    border: 5px solid white;
}

.pattern-card{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 340px;
    margin-top: 90px;
    margin-left: 523px;
}

.box{
    background-color: white;
    margin-left: 523px;
    margin-top: 0;
    width: 340px;
    height: 160px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.person{
    background-color: white;
    display: inline;
}

.person h4{
    font-size: 18px;
    text-align: center;
    margin-left: -45px;
    margin-bottom: 10px;
}

.age{
    color: hsl(227, 10%, 46%);
    float: right;
    margin-right: 110px;
    margin-top: -29px;
}

.city{
    color: hsl(227, 10%, 46%);
    text-align: center;
    margin-left: -20px;
}

.social-networks hr{
    color: hsl(0, 0%, 59%);
    margin-top: 20px;
    height: 1px;
    font-weight: lighter;
}

.social-networks{
    text-align: center;
    
}

.social-networks h4{
    font-size: 18px;
   display: inline-block;
   text-align: center;
   margin: 20px 25px 5px 25px;
}

.followers p{
    color: hsl(227, 10%, 46%);
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.follower{
    margin: 0 48px 20px 53px;
}

.likes{
    margin-right: 54px;
}

.attribution{
    color: whitesmoke;
    font-size: 13px;
    position: relative;
    
}

.attribution a{
    color: darkmagenta;
    text-decoration: none;
    
}


@media screen and (max-width:1440px){
    .attribution{
        color: whitesmoke;
        font-size: 13px;
        position: relative;
        margin-top: 60px;
    }
    
    .attribution a{
        color: darkmagenta;
        text-decoration: none;
    }
}



@media screen and (max-width: 375px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Kumbh Sans', sans-serif;
    }
    
    body{
        background: hsl(185, 75%, 39%);
        
    }
    

    #bg-pattern-top .pattern-top{
        width: 300px;
        height: 550px;
        position: fixed;
        right: 500px;
    }
    
    #bg-pattern-bottom .pattern-bottom{
        width: 400px;
        height: 700px;
        position: fixed;
        right: -190px;
        bottom: -450px;
    }
    
    .box-picture{
        background-color: white;
        
        width: 280px;
        margin-left: 50px;
        text-align: center;
        margin-top: -90px;
    }
    
    .picture{
        background-color: white;
        border-radius: 100%;
        margin-bottom: 20px;
        border: 5px solid white;
    }
    
    .pattern-card{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 280px;
        margin-top: 90px;
        margin-left: 50px;
    }
    
    .box{
        background-color: white;
        margin-left: 50px;
        margin-top: 0;
        width: 280px;
        height: 160px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .person{
        background-color: white;
        display: inline;
    }
    
    .person h4{
        font-size: 18px;
        text-align: center;
        margin-left: -45px;
        margin-bottom: 10px;
    }
    
    .age{
        color: hsl(227, 10%, 46%);
        float: right;
        margin-right: 80px;
        margin-top: -29px;
    }
    
    .city{
        color: hsl(227, 10%, 46%);
        text-align: center;
        margin-left: -20px;
    }
    
    .social-networks hr{
        color: hsl(0, 0%, 59%);
        margin-top: 20px;
        height: 1px;
        font-weight: lighter;
    }
    
    .social-networks{
        text-align: center;
        
    }
    
    .social-networks h4{
        font-size: 18px;
       display: inline-block;
       text-align: center;
       margin: 20px 25px 5px 25px;
    }
    
    .followers p{
        color: hsl(227, 10%, 46%);
        display: inline-block;
        font-size: 12px;
        text-align: center;
    }
    
    .follower{
        margin: 0 49px 20px 23px;
    }
    
    .likes{
        margin-right: 54px;
    }
    
    .attribution{
        color: whitesmoke;
        font-size: 13px;
        position: relative;
        margin-top: 70px;
    }

    .attribution a{
        color: darkmagenta;
        text-decoration: none;
    }
}